.flex-container {
	align-items: center;
	display: flex;
	border-top:1px solid beige;
}
.flex-container-1 {
	flex-direction: column;
	justify-content: flex-start;
	width: 800px;
	height: 600px;
	background-color: white;
}
.flex-container-2 {
	flex-direction: row;
	width: 700px;
	height: 200px;
	background-color: aliceblue;
}
.flex-container-3 {
	flex-direction: row;
	width: 700px;
	height: 100px;
	background-color: aliceblue;
}
.flex-container-4 {
	flex-direction: row;
	width: 700px;
	height: 200px;
	background-color: aliceblue;
}
.flex-container-5 {
	width: 600px;
	height: 100px;
}
.flex-item {
	margin: 10px;
	border-top:1px solid beige;
}
.flex-item-1 {
	width: 200px;
	height: 100px;
	border-radius:5px;
	background-color: white;
}
.flex-item-2 {
	width: 80px;
	height: 100px;
	border-radius:5px;
	background-color: white;
}
header {
	background:aliceblue;
	border-top:1px solid beige;
	padding:10px;
	text-align:center;
	color:black;
}
body {
	background:white;
}
footer {
	background:aliceblue;
	border-top:1px solid beige;
	padding:10px;
	text-align:center;
	color:black;
}